{% extends 'base.html.twig' %}

{# BLOC TITLE #}
{% block title %}{% endblock %}

{# BLOC BODY #}
{% block body %}
    <section class="relative pb-56 sm:pb-80">
        <img class="hidden lg:block absolute inset-0 w-full" src="atis-assets/background/lines.svg" alt="">

        <div class="relative pt-12 md:pt-16 pb-32 md:pb-64 bg-gray-50 border-b-4 border-green-600">
            <div class="relative container mx-auto px-4">
                <div class="max-w-2xl mx-auto text-center mb-12 md:mb-20">
                    <h2 class="mb-10 text-4xl lg:text-5xl font-bold">Learn how We will help you to reach your goals</h2>
                    <div>
                        <a class="inline-block mb-3 lg:mb-0 lg:mr-3 w-full lg:w-auto py-2 px-6 bg-green-600 hover:bg-green-700 text-white font-semibold leading-loose rounded-l-xl rounded-t-xl transition duration-200"
                           href="#">Get Started</a><a
                                class="inline-block w-full lg:w-auto py-2 px-6 font-semibold bg-white hover:bg-gray-50 rounded-l-xl rounded-t-xl transition duration-200"
                                href="#">How it works</a></div>
                </div>
            </div>
            <div class="absolute inset-x-0 max-w-3xl mx-auto px-4">
                <img class="rounded-3xl md:rounded-6xl md:rounded-br-none"
                     src="https://images.unsplash.com/photo-1572521165329-b197f9ea3da6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                     alt="">
                <div class="absolute inset-0 flex items-center justify-center">
                    <button class="flex items-center justify-center bg-white rounded-full">
                        <svg class="w-16 h-16 text-green-600 hover:text-green-700 transition duration-200"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

    </section>
    <section class="py-20">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap">
                <div class="mb-8 w-full md:w-1/2 lg:w-1/4 text-center">
        <span class="mb-6 inline-block p-4 rounded bg-green-100">
          <svg class="w-6 h-6 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
               fill="currentColor">
            <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path>
          </svg>
        </span>
                    <h3 class="text-2xl font-bold">250 324</h3>
                    <p class="text-gray-500">Followers</p>
                </div>
                <div class="mb-8 w-full md:w-1/2 lg:w-1/4 text-center">
        <span class="mb-6 inline-block p-4 rounded bg-green-100">
          <svg class="w-6 h-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
          </svg>
        </span>
                    <h3 class="text-2xl font-bold">6 510</h3>
                    <p class="text-gray-500">Solved Problems</p>
                </div>
                <div class="mb-8 w-full md:w-1/2 lg:w-1/4 text-center">
        <span class="mb-6 inline-block p-4 rounded bg-green-100">
          <svg class="w-6 h-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
          </svg>
        </span>
                    <h3 class="text-2xl font-bold">14 350</h3>
                    <p class="text-gray-500">Happy Customers</p>
                </div>
                <div class="mb-8 w-full md:w-1/2 lg:w-1/4 text-center">
        <span class="mb-6 inline-block p-4 rounded bg-green-100">
          <svg class="w-6 h-6 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
               fill="currentColor">
            <path fill-rule="evenodd"
                  d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path>
            <path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"></path>
          </svg>
        </span>
                    <h3 class="text-2xl font-bold">149 324</h3>
                    <p class="text-gray-500">Projects</p>
                </div>
            </div>
        </div>
    </section>

    <section>

        <div class="py-20 bg-gray-50 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-xl mx-auto text-center">
                    <img class="mb-6 mx-auto" src="atis-assets/logo/atis/atis-mono-sign.svg" alt="">
                    <h2 class="mb-2 text-4xl lg:text-5xl font-bold font-heading">So much more than a business analytics
                        tool</h2>
                    <p class="mb-8 text-gray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Pellentesque efficitur nisl sodales egestas lobortis.</p>
                    <form class="mx-auto" action="">
                        <div class="max-w-md mx-auto flex flex-wrap items-center">
                            <input class="flex-grow py-3 px-4 mr-4 text-xs rounded leading-loose" type="email"
                                   placeholder="example@shuffle.dev">
                            <button class="w-auto py-2 px-6 rounded-t-xl rounded-l-xl bg-green-600 hover:bg-green-700 text-gray-50 font-bold leading-loose transition duration-200">
                                Sign Up
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

    <section class="">

        <div class="bg-gray-50 pt-12 lg:pt-20 pb-20">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap -mx-4">

                    <div class="w-full lg:w-1/2 px-4 flex items-center justify-center">
                        <div class="relative" style="z-index: 0;"><img
                                    class="h-128 w-full max-w-lg object-cover rounded-3xl md:rounded-br-none"
                                    src="https://images.unsplash.com/photo-1462826303086-329426d1aef5?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                                    alt=""><img class="hidden md:block absolute"
                                                style="top:-2rem; right: 3rem; z-index: -1;"
                                                src="atis-assets/elements/green-dark-up.svg" alt=""><img
                                    class="hidden md:block absolute" style="bottom:-2rem; right: -2rem; z-index: -1;"
                                    src="atis-assets/elements/wing-green-down.svg" alt=""><img
                                    class="hidden md:block absolute" style="top:3rem; right: -3rem; z-index: -1;"
                                    src="atis-assets/elements/bullets-gray-right.svg" alt=""><img
                                    class="hidden md:block absolute" style="bottom:2.5rem; left: -4.5rem; z-index: -1;"
                                    src="atis-assets/elements/bullets-gray-left.svg" alt=""></div>
                    </div>
                    <div class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center">
                        <div class="w-full text-center lg:text-left">
                            <div class="max-w-md mx-auto lg:mx-0">
                                <h2 class="mb-3 text-4xl lg:text-5xl font-bold font-heading">
                                    <span>Build &amp; Launch without</span>
                                    <span class="text-green-600">problems</span>
                                </h2>
                            </div>
                            <div class="max-w-sm mx-auto lg:mx-0">
                                <p class="mb-6 text-gray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.</p>
                                <div>
                                    <a class="inline-block mb-3 lg:mb-0 lg:mr-3 w-full lg:w-auto py-2 px-6 leading-loose bg-green-600 hover:bg-green-700 text-white font-semibold rounded-l-xl rounded-t-xl transition duration-200"
                                       href="#">Get Started</a><a
                                            class="inline-block w-full lg:w-auto py-2 px-6 leading-loose font-semibold bg-white hover:bg-gray-50 rounded-l-xl rounded-t-xl transition duration-200"
                                            href="#">How it works</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="">

        <div class="bg-gray-50 pt-12 lg:pt-20 pb-20">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap -mx-4">


                    <div class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center">
                        <div class="w-full text-center lg:text-left">
                            <div class="max-w-md mx-auto lg:mx-0">
                                <h2 class="mb-3 text-4xl lg:text-5xl font-bold font-heading">
                                    <span>Build &amp; Launch without</span>
                                    <span class="text-green-600">problems</span>
                                </h2>
                            </div>
                            <div class="max-w-sm mx-auto lg:mx-0">
                                <p class="mb-6 text-gray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.</p>
                                <div>
                                    <a class="inline-block mb-3 lg:mb-0 lg:mr-3 w-full lg:w-auto py-2 px-6 leading-loose bg-green-600 hover:bg-green-700 text-white font-semibold rounded-l-xl rounded-t-xl transition duration-200"
                                       href="#">Get Started</a><a
                                            class="inline-block w-full lg:w-auto py-2 px-6 leading-loose font-semibold bg-white hover:bg-gray-50 rounded-l-xl rounded-t-xl transition duration-200"
                                            href="#">How it works</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 px-4 flex items-center justify-center">
                        <div class="relative" style="z-index: 0;"><img
                                    class="h-128 w-full max-w-lg object-cover rounded-3xl md:rounded-br-none"
                                    src="https://images.unsplash.com/photo-1462826303086-329426d1aef5?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                                    alt=""><img class="hidden md:block absolute"
                                                style="top:-2rem; right: 3rem; z-index: -1;"
                                                src="atis-assets/elements/green-dark-up.svg" alt=""><img
                                    class="hidden md:block absolute" style="bottom:-2rem; right: -2rem; z-index: -1;"
                                    src="atis-assets/elements/wing-green-down.svg" alt=""><img
                                    class="hidden md:block absolute" style="top:3rem; right: -3rem; z-index: -1;"
                                    src="atis-assets/elements/bullets-gray-right.svg" alt=""><img
                                    class="hidden md:block absolute" style="bottom:2.5rem; left: -4.5rem; z-index: -1;"
                                    src="atis-assets/elements/bullets-gray-left.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="">

        <div class="bg-gray-50 pt-12 lg:pt-20 pb-20">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap -mx-4">

                    <div class="w-full lg:w-1/2 px-4 flex items-center justify-center">
                        <div class="relative" style="z-index: 0;"><img
                                    class="h-128 w-full max-w-lg object-cover rounded-3xl md:rounded-br-none"
                                    src="https://images.unsplash.com/photo-1462826303086-329426d1aef5?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                                    alt=""><img class="hidden md:block absolute"
                                                style="top:-2rem; right: 3rem; z-index: -1;"
                                                src="atis-assets/elements/green-dark-up.svg" alt=""><img
                                    class="hidden md:block absolute" style="bottom:-2rem; right: -2rem; z-index: -1;"
                                    src="atis-assets/elements/wing-green-down.svg" alt=""><img
                                    class="hidden md:block absolute" style="top:3rem; right: -3rem; z-index: -1;"
                                    src="atis-assets/elements/bullets-gray-right.svg" alt=""><img
                                    class="hidden md:block absolute" style="bottom:2.5rem; left: -4.5rem; z-index: -1;"
                                    src="atis-assets/elements/bullets-gray-left.svg" alt=""></div>
                    </div>
                    <div class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center">
                        <div class="w-full text-center lg:text-left">
                            <div class="max-w-md mx-auto lg:mx-0">
                                <h2 class="mb-3 text-4xl lg:text-5xl font-bold font-heading">
                                    <span>Build &amp; Launch without</span>
                                    <span class="text-green-600">problems</span>
                                </h2>
                            </div>
                            <div class="max-w-sm mx-auto lg:mx-0">
                                <p class="mb-6 text-gray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.</p>
                                <div>
                                    <a class="inline-block mb-3 lg:mb-0 lg:mr-3 w-full lg:w-auto py-2 px-6 leading-loose bg-green-600 hover:bg-green-700 text-white font-semibold rounded-l-xl rounded-t-xl transition duration-200"
                                       href="#">Get Started</a><a
                                            class="inline-block w-full lg:w-auto py-2 px-6 leading-loose font-semibold bg-white hover:bg-gray-50 rounded-l-xl rounded-t-xl transition duration-200"
                                            href="#">How it works</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="">

        <div class="bg-gray-50 pt-12 lg:pt-20 pb-20">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap -mx-4">


                    <div class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center">
                        <div class="w-full text-center lg:text-left">
                            <div class="max-w-md mx-auto lg:mx-0">
                                <h2 class="mb-3 text-4xl lg:text-5xl font-bold font-heading">
                                    <span>Build &amp; Launch without</span>
                                    <span class="text-green-600">problems</span>
                                </h2>
                            </div>
                            <div class="max-w-sm mx-auto lg:mx-0">
                                <p class="mb-6 text-gray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.</p>
                                <div>
                                    <a class="inline-block mb-3 lg:mb-0 lg:mr-3 w-full lg:w-auto py-2 px-6 leading-loose bg-green-600 hover:bg-green-700 text-white font-semibold rounded-l-xl rounded-t-xl transition duration-200"
                                       href="#">Get Started</a><a
                                            class="inline-block w-full lg:w-auto py-2 px-6 leading-loose font-semibold bg-white hover:bg-gray-50 rounded-l-xl rounded-t-xl transition duration-200"
                                            href="#">How it works</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 px-4 flex items-center justify-center">
                        <div class="relative" style="z-index: 0;"><img
                                    class="h-128 w-full max-w-lg object-cover rounded-3xl md:rounded-br-none"
                                    src="https://images.unsplash.com/photo-1462826303086-329426d1aef5?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                                    alt=""><img class="hidden md:block absolute"
                                                style="top:-2rem; right: 3rem; z-index: -1;"
                                                src="atis-assets/elements/green-dark-up.svg" alt=""><img
                                    class="hidden md:block absolute" style="bottom:-2rem; right: -2rem; z-index: -1;"
                                    src="atis-assets/elements/wing-green-down.svg" alt=""><img
                                    class="hidden md:block absolute" style="top:3rem; right: -3rem; z-index: -1;"
                                    src="atis-assets/elements/bullets-gray-right.svg" alt=""><img
                                    class="hidden md:block absolute" style="bottom:2.5rem; left: -4.5rem; z-index: -1;"
                                    src="atis-assets/elements/bullets-gray-left.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="">

        <div class="bg-gray-50 pt-12 lg:pt-20 pb-20">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap -mx-4">

                    <div class="w-full lg:w-1/2 px-4 flex items-center justify-center">
                        <div class="relative" style="z-index: 0;"><img
                                    class="h-128 w-full max-w-lg object-cover rounded-3xl md:rounded-br-none"
                                    src="https://images.unsplash.com/photo-1462826303086-329426d1aef5?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                                    alt=""><img class="hidden md:block absolute"
                                                style="top:-2rem; right: 3rem; z-index: -1;"
                                                src="atis-assets/elements/green-dark-up.svg" alt=""><img
                                    class="hidden md:block absolute" style="bottom:-2rem; right: -2rem; z-index: -1;"
                                    src="atis-assets/elements/wing-green-down.svg" alt=""><img
                                    class="hidden md:block absolute" style="top:3rem; right: -3rem; z-index: -1;"
                                    src="atis-assets/elements/bullets-gray-right.svg" alt=""><img
                                    class="hidden md:block absolute" style="bottom:2.5rem; left: -4.5rem; z-index: -1;"
                                    src="atis-assets/elements/bullets-gray-left.svg" alt=""></div>
                    </div>
                    <div class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center">
                        <div class="w-full text-center lg:text-left">
                            <div class="max-w-md mx-auto lg:mx-0">
                                <h2 class="mb-3 text-4xl lg:text-5xl font-bold font-heading">
                                    <span>Build &amp; Launch without</span>
                                    <span class="text-green-600">problems</span>
                                </h2>
                            </div>
                            <div class="max-w-sm mx-auto lg:mx-0">
                                <p class="mb-6 text-gray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.</p>
                                <div>
                                    <a class="inline-block mb-3 lg:mb-0 lg:mr-3 w-full lg:w-auto py-2 px-6 leading-loose bg-green-600 hover:bg-green-700 text-white font-semibold rounded-l-xl rounded-t-xl transition duration-200"
                                       href="#">Get Started</a><a
                                            class="inline-block w-full lg:w-auto py-2 px-6 leading-loose font-semibold bg-white hover:bg-gray-50 rounded-l-xl rounded-t-xl transition duration-200"
                                            href="#">How it works</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section>

        <div class="py-20 bg-gray-50 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-xl mx-auto text-center">
                    <img class="mb-6 mx-auto" src="atis-assets/logo/atis/atis-mono-sign.svg" alt="">
                    <h2 class="mb-2 text-4xl lg:text-5xl font-bold font-heading">So much more than a business analytics
                        tool</h2>
                    <p class="mb-8 text-gray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Pellentesque efficitur nisl sodales egestas lobortis.</p>
                    <form class="mx-auto" action="">
                        <div class="max-w-md mx-auto flex flex-wrap items-center">
                            <input class="flex-grow py-3 px-4 mr-4 text-xs rounded leading-loose" type="email"
                                   placeholder="example@shuffle.dev">
                            <button class="w-auto py-2 px-6 rounded-t-xl rounded-l-xl bg-green-600 hover:bg-green-700 text-gray-50 font-bold leading-loose transition duration-200">
                                Sign Up
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

    {# REASSURANCE #}
    <section class="pt-20 pb-24 bg-blue-600">
        <div class="container px-4 mx-auto">
            <div class="max-w-xl mx-auto text-center">
                <span class="inline-block text-xs py-1 px-3 bg-blue-500 text-white font-semibold rounded-xl">Lorem ipsum</span>
                <h2 class="my-3 text-3xl md:text-4xl text-white font-bold font-heading">Lorem ipsum dolor sit amet
                    consectutar domor</h2>
                <p class="text-sm md:text-base text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    luctus eget justo et iaculis.</p>
                <div class="mt-10"><a
                            class="inline-block py-4 px-8 text-xs text-blue-600 hover:text-white font-semibold leading-none bg-white hover:bg-blue-600 border hover:border-white rounded transition duration-300"
                            href="#">Get Started</a></div>
            </div>
        </div>
    </section>


    {# UPSELL #}
    <section>

        <div class="py-20 bg-gray-50 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap items-center -mx-4">
                    <div class="mb-12 lg:mb-0 w-full lg:w-1/2 px-4">
                        <div class="max-w-md">
                            <span class="text-green-600 font-bold">Dolor sit amet consectutar</span>
                            <h2 class="text-4xl lg:text-5xl font-bold font-heading">Build &amp; Launch without
                                problems</h2>
                            <p class="mb-6 text-gray-500 leading-loose">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.</p>
                            <ul class="mb-8 text-gray-500 font-bold">
                                <li class="mb-3 flex items-center">
                                    <svg class="w-5 h-5 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span>Vestibulum viverra ante non libero</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg class="w-5 h-5 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span>Morbi mollis metus pretium ultrices tincidunt</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg class="w-5 h-5 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span>Etiam lectus nunc, commodo et risus in</span>
                                </li>
                            </ul>
                            <div><a href="#"><img class="mb-2 mr-6 inline-block"
                                                  src="atis-assets/logo/brands/google-play-store.png" alt=""></a><a
                                        href="#"><img class="mb-2 inline-block"
                                                      src="atis-assets/logo/brands/app-store-download.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="transform -rotate-12 flex items-center w-full lg:w-1/2 px-4">
                        <div class="w-1/3"><img src="atis-assets/illustrations/book-detail-full.png" alt=""></div>
                        <div class="w-1/3"><img src="atis-assets/illustrations/login-full.png" alt=""><img
                                    src="atis-assets/illustrations/details-full.png" alt=""></div>
                        <div class="w-1/3"><img src="atis-assets/illustrations/home.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>

    </section>





{% endblock %}
