{% extends 'base.html.twig' %}

{# BLOC TITLE #}
{% block title %}{% endblock %}

{# BLOC BODY #}
{% block body %}

    {# HERO SECTION #}
    <section x-data="{ open: false }" class="relative pb-56 bg-gray-50 sm:pb-80">
        <img class="hidden lg:block absolute inset-0 w-full" src="atis-assets/background/lines.svg" alt="">

        <div class="relative pt-5 md:pt-16  pb-32 md:pb-64 border-b-4 bg-cover bg-no-repeat border-black bg-black"
             style="background-image: url('https://images.pexels.com/photos/4451937/pexels-photo-4451937.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">

            <div class="absolute w-full h-full top-0 left-0 bg-black opacity-70"></div>


            <div class="relative container mx-auto px-4">

                {# BRADCRUMB #}
                <nav class="flex mb-10 w-auto font-raleway mx-auto text-center text-gray-100 opacity-50"
                     aria-label="Breadcrumb">
                    <ol class="flex items-center mx-auto space-x-4">
                        <li>
                            <div>
                                <a href="{{ path('homepage') }}" class="hover:text-gray-300">
                                    <!-- Heroicon name: solid/home -->
                                    <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
                                    </svg>
                                    <span class="sr-only">Accueil</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center">
                                <!-- Heroicon name: solid/chevron-right -->
                                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                          clip-rule="evenodd"/>
                                </svg>
                                <a href="{{ path('formations') }}" class="ml-4 text-sm font-light hover:text-gray-300">Formations</a>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center">
                                <!-- Heroicon name: solid/chevron-right -->
                                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                          clip-rule="evenodd"/>
                                </svg>
                                <a href="{{ path('maison') }}" aria-current="page"
                                   class="ml-4 text-sm font-light hover:text-gray-300">Construire la maison de ses
                                    rêves</a>
                            </div>
                        </li>
                    </ol>
                </nav>

                {# START HERO TEXT #}

                <div class="max-w-2xl mx-auto text-center text-white mb-12 md:mb-20">

                    <h1 class="title-1 mb-12 text-white font-semibold">Construisez seul(e) la maison de vos rêves</h1>
                    <p class="body-1 text-white font-raleway">Avant de se lancer dans un projet de construction, il est
                        essentiel de connaître les outils clés pour construire sa maison étape par étape. Je te livre 9
                        techniques de pros pour faire construire la maison de tes rêves sans faire exploser ton
                        budget.</p>
                </div>
                <div class="absolute inset-x-0 max-w-3xl mx-auto px-4">
                    <img class=" "
                         src="https://images.unsplash.com/photo-1572521165329-b197f9ea3da6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                         alt="">
                    <div class="absolute inset-0 flex items-center justify-center">
                        <button @click="open = true" class="js-play flex items-center justify-center bg-white rounded-full">
                            OUVRIR
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed z-10 top-0 left-0 flex items-center justify-center w-screen h-screen"
             x-show="open">
            <div class="w-full js-pause absolute z-10 h-full flex-none" style="background-color: rgba(0,0,0,.5);" @click="open = false"></div>

            <!-- A basic modal dialog with title, body and one button to close -->
            <div class="h-auto p-4 mx-2 z-20 text-left bg-white rounded shadow-xl md:max-w-xl md:p-6 lg:p-8 md:mx-0">


                <div class="container">
                    <video id="player" controls crossorigin playsinline
                           poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
                        <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4"
                                type="video/mp4" size="576">
                        <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4"
                                type="video/mp4" size="720">
                        <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4"
                                type="video/mp4" size="1080">

                        <!-- Caption files -->
                        <track kind="captions" label="English" srclang="en"
                               src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                               default>
                        <track kind="captions" label="Français" srclang="fr"
                               src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">
                        <!-- Fallback for browsers that don't support the <video> element -->
                        <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
                    </video>
                </div>
                <!-- Plyr resources and browser polyfills are specified in the pen settings -->


                <!-- One big close button.  --->
                <div class="mt-5 sm:mt-6">
                    <span class="flex js-pause2 w-full shadow-sm">
                      <button @click="open = false"
                              class=" inline-flex justify-center w-full px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-700">
                        Fermer la vidéo
                      </button>
                    </span>
                </div>

            </div>
        </div>

    </section>

    {# INTRODUCTION #}
    <section class="bg-gray-50 w-full pb-24">

        <div class="py-20 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-2xl mx-auto text-center">
                    <h2 class="title-1">Lancez votre projet de construction</h2>
                    <p class="body-2 m-6">Téléchargez le guide gratuitement et découvrez les premières astuces pour
                        commencer à esquisser votre projet en toute autonomie !
                    </p>
                </div>
            </div>
        </div>
    </section>

    {# CARD FORMATION #}
    <section class="bg-gradient-to-b from-gray-50 w-full pb-24 ">
        <div class="max-w-4xl px-8 mx-auto">

            <div class="w-full p-6 bg-white shadow-lg  hover:shadow-sm transition duration-800 grid grid-cols-1 md:grid-cols-3 items-center justify-items-center">
                <div class="w-full  max-w-sm md:col-span-1">
                    <a href="">
                        <img
                                class="w-full  shadow-sm mx-auto mb-8 md:mb-0 h-auto"
                                src="https://picsum.photos/200/300" alt=""></a>
                </div>
                <div class="w-full col-span-2 text-left grid justify-self-end justify-items-center">
                    <div class="max-w-sm mx-auto mb-4">
                        <h2 class="subtitle-2">Formation en ligne</h2>
                        <h3 class="title-2">Construire sa maison seul(e)</h3>

                        <p class="body-2 mt-5">Prenez en main votre construction et maîtrisez vos chantiers de A à Z pour
                            réussir votre investissement ou vous installer sereinement dans la maison de vos rêves.</p>
                        <ul class="font-raleway mt-5 uppercase font-bold text-sm">
                            <li class="mb-1 flex items-center text-rose-500">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">9 modules</span>
                            </li>
                            <li class="mb-1 flex items-center text-rose-500">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">39 vidéos</span>
                            </li>
                            <li class="mb-1 flex items-center text-rose-500">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">accès illimité à vie</span>
                            </li>
                            <li class="mb-1 flex items-center text-rose-500">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">Accompagnement personnalisé</span>
                            </li>

                        </ul>
                        <div class="flex mt-2 items-center pb-5 border-b-2 border-gray-100 mb-5">
                        </div>
                        <div class="flex">
                            <span class="title-font font-medium text-2xl text-gray-900">2 998,00 €</span>
                            <button class="flex ml-auto btn-1">
                                Acheter
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# BULLET POINTS #}
    <section class="py-20">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap">
                <div class="mb-8 w-full  md:w-1/3 text-center">
                    <span class="mb-6 inline-block p-4">
                        <svg class="w-6 h-6 text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                             fill="currentColor">
                                <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16                                       16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path>
                         </svg>
                     </span>
                    <h3 class="subtitle-1 font-bold">Facilité de paiement</h3>
                    <p class="body-2">Réglez en 1, 3 ou 5 fois</p>
                </div>
                <div class="mb-8 w-full md:w-1/3 text-center">
                    <span class="mb-6 inline-block p-4">
          <svg class="w-6 h-6 text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
          </svg>
        </span>
                    <h3 class="subtitle-1 font-bold">Paiement sécurisé</h3>
                    <p class="body-2">Vos informations sont cryptées</p>
                </div>
                <div class="mb-8 w-full md:w-1/3 text-center">
        <span class="mb-6 inline-block p-4">
          <svg class="w-6 h-6 text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
          </svg>
        </span>
                    <h3 class="subtitle-1 font-bold">Satisfait ou remboursé</h3>
                    <p class="body-2">15 jours pour changer d'avis</p>
                </div>

            </div>
        </div>
    </section>


    {# DETAIL FORMATION #}
    <section class="bg-gray-50">
        <div class="py-20 my-12 max-w-5xl mx-auto  radius-for-skewed ">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap items-center -mx-4">
                    <div class="mb-12 lg:mb-0 w-full lg:w-1/2 px-4">
                        <div class="max-w-md">
                            <span class="subtitle-2 inline-block">Contenu de la formation</span>
                            <h2 class="title-2 my-6">Une formation adaptée à vos objectifs</h2>

                            <ul class="font-raleway font-base text-black tracking-tight">
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Maîtriser les règles d'urbanisme</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Utiliser les leviers d'optimisation fiscale </span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Gérer son opération en toute autonomie</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Contrôler les garanties de post-achèvement</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Trouver des prestataires de confiance</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Négocier les tarifs de fabrication</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Faire construire sereinement</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Réduire au maximum les dépenses inutiles</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Economiser à coup sûr au moins 8000 €</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Maximiser son retour sur investissement</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2">
                        <div class="mb-4 flex flex-wrap items-end">
                            <div class=" mb-4 lg:mb-0 w-full lg:w-2/3 px-3">
                                <img class="tagline w-full h-32 lg:h-48 object-cover"
                                     src="https://images.unsplash.com/photo-1604701145653-ab3c97c63467?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
                                     alt=""></div>
                            <div class="w-full lg:w-1/3 px-3">
                                <img class="punchline w-full h-32 object-cover"
                                     src="https://images.unsplash.com/photo-1521581171443-58a6b508b9ac?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                                     alt=""></div>
                        </div>
                        <div class=" flex flex-wrap items-start">
                            <div class="mb-4 lg:mb-0 w-full lg:w-1/3 px-3">
                                <img class="headline w-full h-32 object-cover"
                                     src="https://images.unsplash.com/photo-1501706649056-3cb79cccec52?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=701&amp;q=80"
                                     alt=""></div>
                            <div class="w-full lg:w-2/3 px-3">
                                <img class="highline w-full h-32 lg:h-48 object-cover"
                                     src="https://images.unsplash.com/photo-1489058535093-8f530d789c3b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                                     alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {# LES SESSIONS #}
    <section class="max-w-5xl mx-auto">

        <div class="py-20 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-xl mx-auto text-center">
                    <span class="subtitle-2 inline-block mb-5">Les modules</span>
                    <h2 class="title-2">9 étapes indispensable pour réussir votre construction</h2>
                </div>
            </div>
        </div>


        <div class="py-20">
            <div class="container mx-auto px-4">
                <div class="mb-8 flex flex-wrap  shadow overflow-hidden items-center">
                    <div class="w-full lg:w-1/2 ">
                        <img class="object-cover"
                             src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80"
                             alt="">
                    </div>
                    <div class="w-full lg:w-1/2 py-6 lg:pt-10 px-6  bg-white">

                        <h3 class="mb-4 text-xl font-semibold font-raleway">1. Budgétisation et recherche
                            cadastrale</h3>
                        <p class="mb-4 text-gray-400 leading-loose font-raleway">Dans ce module je vous expliquerai les
                            étapes préalables à la construction. Vous aurez accès à 5 vidéos et des documents qui vous
                            détaillerons les marches à suivre pour bien lancer son projet. Faire les bons choix dès le
                            commencement de la construction est déterminant pour la suite du projet.</p>

                    </div>
                </div>
                <div class="mb-8 flex flex-wrap  items-center shadow overflow-hidden">
                    <div class="w-full lg:w-1/2 py-6 lg:pt-10 px-6  bg-white order-1 lg:order-0">
                        <h3 class="mb-4 text-xl font-semibold font-raleway">2. Etude et devis d’implantation</h3>
                        <p class="mb-4 text-gray-400 leading-loose font-raleway">Déterminer les coûts est la seconde
                            étape d’un projet réussi. Comment construire une maison sans estimer les tarifs appliqués
                            par les professionnels de l’immobilier ? Viabilisation du terrain, mises en conformité au RT
                            2012 et réalisation des premières esquisses du projet… Je vous conseille et vous accompagne
                            dans cette seconde étape.</p>
                    </div>
                    <div class="w-full lg:w-1/2  order-0 lg:order-1">
                        <img class="object-cover"
                             src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80"
                             alt="">
                    </div>
                </div>
                <div class="mb-8 flex flex-wrap  shadow overflow-hidden items-center">
                    <div class="w-full lg:w-1/2 ">
                        <img class="object-cover"
                             src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80"
                             alt="">
                    </div>
                    <div class="w-full lg:w-1/2 py-6 lg:pt-10 px-6  bg-white">

                        <h3 class="mb-4 text-xl font-semibold font-raleway">3. Choix des partenaires et
                            prestataires</h3>
                        <p class="mb-4 text-gray-400 leading-loose font-raleway">Bien comprendre les obligations et les
                            intérêts de chaque acteur de votre projet permet de s’entourer de gens compétents et de
                            confiance. A cette étape le projet prend de plus en plus forme. Les esquisses se
                            transforment en plan, de nouveaux partenaires rejoignent votre construction et les coûts se
                            précisent</p>
                    </div>
                </div>
                <div class="mb-8 flex flex-wrap  items-center shadow overflow-hidden">
                    <div class="w-full lg:w-1/2 py-6 lg:pt-10 px-6  bg-white order-1 lg:order-0">
                        <h3 class="mb-4 text-xl font-semibold font-raleway">4. Le prêt bancaire</h3>
                        <p class="mb-4 text-gray-400 leading-loose font-raleway">Pour valider son projet, le notaire est
                            bien entendu le premier représentant de l’administration à rencontrer. Une fois la signature
                            réalisée, vous pourrez vous tourner vers une banque pour financer votre projet. Le prêt
                            bancaire est une étape qui peut réserver de bonnes ou de mauvaises surprises. Je vous donne
                            les clés pour n’en tirer que du positif.</p>
                    </div>
                    <div class="w-full lg:w-1/2  order-0 lg:order-1">
                        <img class="object-cover"
                             src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80"
                             alt="">
                    </div>
                </div>
                <div class="mb-8 flex flex-wrap  shadow overflow-hidden items-center">
                    <div class="w-full lg:w-1/2 ">
                        <img class="object-cover"
                             src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80"
                             alt="">
                    </div>
                    <div class="w-full lg:w-1/2 py-6 lg:pt-10 px-6  bg-white">

                        <h3 class="mb-4 text-xl font-semibold font-raleway">5. La description préalable du projet</h3>
                        <p class="mb-4 text-gray-400 leading-loose font-raleway">A cette étape, vous devrez déterminer
                            et choisir les matériaux, le type de fondation et les options de construction. Vous
                            apprendrez comment construire une maison peu onéreuse grâce à des outils et techniques de
                            négociation des prix. Je vous révèle les astuces des professionnels pour que vous soyez
                            vainqueur au moment de la signature du contrat.
                        </p>

                    </div>
                </div>
                <div class="mb-8 flex flex-wrap  items-center shadow overflow-hidden">
                    <div class="w-full lg:w-1/2 py-6 lg:pt-10 px-6  bg-white order-1 lg:order-0">
                        <h3 class="mb-4 text-xl font-semibold font-ralewayy">6. Mise en conformité juridique et
                            légale</h3>
                        <p class="mb-4 text-gray-400 leading-loose font-raleway">Toutes les obligations administratives
                            concernant le projet démarrent à ce moment-là. C’est le moment d’attente du projet. Vous
                            attendez que la collectivité vous octroie un permis de construire, faites les derniers choix
                            avant les travaux et préparez le terrain à accueillir votre maison.</p>
                    </div>
                    <div class="w-full lg:w-1/2  order-0 lg:order-1">
                        <img class="object-cover"
                             src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80"
                             alt="">
                    </div>
                </div>
                <div class="mb-8 flex flex-wrap  shadow overflow-hidden items-center">
                    <div class="w-full lg:w-1/2 ">
                        <img class="object-cover"
                             src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80"
                             alt="">
                    </div>
                    <div class="w-full lg:w-1/2 py-6 lg:pt-10 px-6  bg-white">

                        <h3 class="mb-4 text-xl font-semibold font-raleway">7. Le démarrage des travaux </h3>
                        <p class="mb-4 text-gray-400 leading-loose font-raleway">Les travaux débutent. Les premiers
                            artisans et prestataires lancent la construction des fondations et gèrent les raccords des
                            arrivées d’eau et d’électricité. Vous assisterez à plusieurs rendez-vous chantier et devrez
                            à ce moment-là être vigilant quant à l’exécution des travaux. La moindre inattention et le
                            moindre défaut peut se payer cher. Je vous donne les clés pour éviter tous les tracas et
                            gérer en confiance votre chantier.</p>
                    </div>
                </div>
                <div class="mb-8 flex flex-wrap  items-center shadow overflow-hidden">
                    <div class="w-full lg:w-1/2 py-6 lg:pt-10 px-6  bg-white order-1 lg:order-0">
                        <h3 class="mb-4 text-xl font-semibold font-ralewayy">8. La remise des clés</h3>
                        <p class="mb-4 text-gray-400 leading-loose font-raleway">Le moment tant attendu de la
                            construction d’une maison. Après avoir appris comment construire une maison de A à Z, vous
                            pouvez enfin profiter de votre logement. Cependant la remise des clés est une étape
                            importante puisque c’est le moment pour vous d’émettre des réserves et de faire jouer les
                            garanties des constructeurs. Il vous faut donc connaître les techniques pour éviter de vous
                            faire flouer</p>
                    </div>
                    <div class="w-full lg:w-1/2  order-0 lg:order-1">
                        <img class="object-cover"
                             src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80"
                             alt="">
                    </div>
                </div>
                <div class="mb-8 flex flex-wrap  shadow overflow-hidden items-center">
                    <div class="w-full lg:w-1/2 ">
                        <img class="object-cover"
                             src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80"
                             alt="">
                    </div>
                    <div class="w-full lg:w-1/2 py-6 lg:pt-10 px-6  bg-white">

                        <h3 class="mb-4 text-xl font-semibold font-raleway">9. Le projet d’investissement locatif</h3>
                        <p class="mb-4 text-gray-400 leading-loose font-raleway">Maintenant que la construction n’a plus
                            de secret pour vous, pourquoi ne pas en profiter pour générer des revenus passifs ?
                            Découvrez comment fonctionne la construction d’une maison de location et comment
                            rentabiliser cet investissement.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {# FAQ #}
    <section x-data="{selected:null}">
        <div class="py-20 bg-gray-50 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="mb-16 max-w-xl mx-auto text-center">
                    <span class="subtitle-2 inline-block mb-5">FAQ</span>
                    <h2 class="mb-6 title-2">Questions fréquentes</h2>
                </div>
                <div class="max-w-3xl mx-auto">
                    <ul class="space-y-1 lg:space-y-6">
                        <li class="pt-6 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 1 ? selected = 1 : selected = null">
                            <div class="w-full flex  justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">À qui s'adresse cette formation ?</span>
                                <svg class="w-4 h-4 text-black transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 1 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                               x-ref="container1"
                               x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                               :class="{ 'pt-6' : selected == 1 }">
                                Vous souhaitez devenir propriétaire de votre résidence principale ou souhaitez investir
                                dans une construction neuve pour louer ou revendre.</p>
                        </li>


                        <li class="pt-6 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 2 ? selected = 2 : selected = null">
                            <div class="w-full flex justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">Si la formation ne me convient pas, puis-je me rétracter ?</span>
                                <svg class="w-4 h-4 text-black transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 2 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                               x-ref="container1"
                               x-bind:style="selected == 2 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                               :class="{ 'pt-6' : selected == 2 }">
                                Oui ! Vous avez 15 jours pour changer d’avis. Aucune explication ne vous est demandée,
                                nous vous remboursons immédiatement. Parce que nous avons confiance en la qualité de nos
                                formations, nous vous permettons de vous rétracter à tout moment pendant 15 jours.</p>
                        </li>

                        <li class="pt-6 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 3 ? selected = 3 : selected = null">
                            <div class="w-full  flex justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">Est-ce que je peux payer en plusieurs fois ?</span>
                                <svg class="w-4 h-4 text-black transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 3 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                               x-ref="container1"
                               x-bind:style="selected == 3 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                               :class="{ 'pt-6' : selected == 3 }">
                                Oui, en fonction de la formation, vous pouvez avoir la possibilité de payer en 1, 3 ou 5
                                fois. Vous êtes alors débité chaque mois du montant indiqué lors de l’achat.
                        </li>

                        <li class="pt-6 border-t-2 cursor-pointer border-gray-200 hover:border-black relative transition-all duration-400"
                            @click="selected !== 4 ? selected = 4 : selected = null">
                            <div class="w-full flex  justify-between items-center text-left font-bold font-heading hover:text-gray-600 decoration">
                                <span class="text-lg font-semibold font-raleway">Quels sont les autres avantages de cette formation ?</span>
                                <svg class="w-4 h-4 text-black transform transition duration-200"
                                     x-bind:class="{ 'rotate-180' : selected == 4 }" xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                                </svg>
                            </div>
                            <p class="text-gray-500 font-raleway body-3 overflow-hidden max-h-0 transition-all duration-400"
                               x-ref="container1"
                               x-bind:style="selected == 4 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                               :class="{ 'pt-6' : selected == 4 }">
                                Avec la formation vous bénéficiez d’un accès à notre communauté d’investisseurs et aux
                                conseils d'experts afin d'être au fait de toutes les évolutions de la législation et des
                                obligations liées aux opérations de promotion immobilière. Vous bénéficiez aussi de
                                tarifs préférentiels pour nos autres formations ou pour participer à nos évènements
                                immobiliers.
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </section>

    {# QUI SUIS JE #}
    <section>

        <div class="py-20 bg-gray-50 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-6xl mx-auto">
                    <div class="mb-8 p-6 flex flex-wrap items-center bg-white  shadow">
                        <div class="w-full lg:w-1/3">
                            <img class="mb-5 lg:mb-0 w-full  object-cover" style="max-height: 350px;"
                                 src="https://images.unsplash.com/photo-1484588168347-9d835bb09939?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=334&amp;q=80"
                                 alt=""></div>
                        <div class="w-full lg:w-2/3">
                            <div class="max-w-lg mx-auto">
                                <p class="mb-8 quote-1">Pendant 10 ans, j’ai accompagné plusieurs centaines de familles
                                    dans leur projet d’installation. Je leur ai expliqué à chaque étape comment
                                    construire leur maison.<br>
                                    Je leur ai partagé toutes mes techniques et les ai accompagnés à chaque étape de
                                    leur projet. Résultat ? Suivant leurs projets j’ai pu leur faire économiser entre
                                    8000€ et 30 000€.<br>
                                    Dans cette formation, je te révèle toutes les techniques pour avoir une stratégie
                                    gagnante. Tu sauras alors comment construire une maison sereinement en économisant
                                    du temps et de l’argent !

                                </p>
                                <div class="flex items-center justify-between">
                                    <div>
                                        <h4 class="text-2xl font-bold font-heading">Michael Ballot</h4>
                                        <p class="text-blueGrey-500">Coach & formateur immobilier</p>
                                    </div>
                                    <a href="#"><img src="atis-assets/social/facebook-name.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {# UPSELL #}
    {% include 'shared/_packFormations.html.twig' %}

    {# ECHANGE TELEPHONIQUE #}
    {% include 'shared/_contact.html.twig' %}

    {# FIXED #}
    <div class="sticky bottom-0 inset-x-0 bg-black font-raleway bg-opacity-90 text-white">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="p-2  sm:p-3">
                <div class="flex items-center justify-stretch">
                    <div class="flex-1 flex items-center">
                  <span class="flex p-2">
                    2 998,00 €
                  </span>
                        <span class="flex p-2"> | </span>
                        <p class="ml-3 font-semibold uppercase">
                        <span class="hidden md:inline">
                          Formation construction de maison
                        </span>
                        </p>
                    </div>
                    <div class="order-3 mt-2 flex-shrink-0 sm:order-2 sm:mt-0 w-auto">
                        <a href="#"
                           class="flex items-center justify-center px-4 py-2 border border-transparent  shadow-sm text-sm font-bold uppercase text-white bg-rose-500 hover:bg-rose-700 transition duration-300">
                            Acheter
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}