{% extends 'base.html.twig' %}

{# BLOC TITLE #}
{% block title %}{% endblock %}

{# BLOC BODY #}
{% block body %}

    {# HERO SECTION #}

    <section x-data="{ open: false }" class="bg-cover bg-no-repeat border-black bg-gray-900"
             style="background-image: url('https://images.pexels.com/photos/1829191/pexels-photo-1829191.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');">
        <div class="w-full z-0 h-full bg-gray-900 bg-opacity-70">
            <div class=" max-w-7xl z-10 px-4 py-32 px-8 mx-auto ">
                <div class="flex flex-wrap items-center -mx-3">
                    <div class="w-full lg:w-1/2 px-3">
                        <div class="py-12">
                            <div data-aos="fade-right" class="max-w-lg lg:max-w-md mx-auto lg:mx-0 mb-8 text-center lg:text-left">
                                <h1 class="title-1 text-white">
                                    Votre investissement clé en main
                                </h1>
                                <p class="body-1 mt-12 text-white">Vous souhaitez investir dans la pierre, devenir
                                    rentier et maximiser votre retour sur investissement. Donnez la gestion de votre
                                    projet à un professionnel de l’investissement immobilier.</p>
                            </div>
                            <button class="btn-1 text-white mx-auto block lg:mx-0 hover:bg-gray-900 bg-pink-600">
                                être contacté
                            </button>
                        </div>
                    </div>


                    <div data-aos="fade-left" class="w-full rounded relative lg:w-1/2 px-3 mb-12 lg:mb-0">
                        <img class="lg:h-128 rounded mx-auto flex items-center justify-center"
                             src="https://picsum.photos/700/400"
                             alt="">
                        <div class="absolute  inset-0 flex items-center justify-center">
                            <button @click="open = true"
                                    class="js-play flex bg-opacity-90 items-center justify-center bg-gray-900 text-white p-3 rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                     viewBox="0 0 140 140" width="12" height="12">
                                    <g transform="matrix(14,0,0,14,0,0)">
                                        <path d="M8.266,3.563,3.7.316h0A1.686,1.686,0,0,0,1.916.2,1.754,1.754,0,0,0,1,1.753V8.247A1.753,1.753,0,0,0,1.916,9.8,1.687,1.687,0,0,0,3.7,9.685L8.266,6.438a1.775,1.775,0,0,0,0-2.875Z"
                                              fill="currentColor" stroke="none" stroke-linecap="round"
                                              stroke-linejoin="round" stroke-width="0"></path>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="fixed z-50 top-0 left-0 flex items-center justify-center w-screen h-screen"
                         x-show="open" x-cloak>
                        <div class="w-screen js-pause absolute z-40 h-screen flex-none top-0 bg-gray-900 bg-opacity-90"
                             @click="open = false"></div>

                        <!-- A basic modal dialog with title, body and one button to close -->
                        <div class="h-auto p-4 mx-2 z-50 text-left bg-white rounded shadow-xl md:max-w-xl md:p-6 lg:p-8 md:mx-0">


                            <div class="container">
                                <video id="player" controls crossorigin playsinline
                                       poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
                                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4"
                                            type="video/mp4" size="576">
                                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4"
                                            type="video/mp4" size="720">
                                    <source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4"
                                            type="video/mp4" size="1080">

                                    <!-- Caption files -->
                                    <track kind="captions" label="English" srclang="en"
                                           src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
                                           default>
                                    <track kind="captions" label="Français" srclang="fr"
                                           src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">
                                    <!-- Fallback for browsers that don't support the <video> element -->
                                    <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4"
                                       download>Download</a>
                                </video>
                            </div>
                            <!-- Plyr resources and browser polyfills are specified in the pen settings -->


                            <!-- One big close button.  --->
                            <div class="mt-5 sm:mt-6">
                    <span class="flex js-pause2 w-full shadow-sm">
                      <button @click="open = false"
                              class="btn-1 text-white bg-gray-900 hover:bg-gray-700">
                        Fermer la vidéo
                      </button>
                    </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    {# PRICING #}
    {% include 'shared/_pricing.html.twig' %}

    {# CONTACT #}
    {% include 'shared/_contact.html.twig' %}


    {# BULLET POINTS #}
    {% include 'shared/_avantages.html.twig' %}

    {# SERVICES #}
    <section>

        <div class="py-20 bg-gray-50 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap items-center">
                    <div data-aos="fade-right" class="w-full lg:w-1/2 mb-12 lg:mb-0">
                        <div class="max-w-sm lg:mx-auto">
                            <span class="subtitle-2">Toutes nos offres</span>
                            <h2 class="my-2 title-2">Un investissement rentable</h2>
                            <p class="my-6 text-gray-500 body-2">Achat revente, Immeuble de rapport, Location meublée…
                                Choisissez l’investissement qui vous convient le mieux et je m’occupe de tout !</p>

                        </div>
                    </div>
                    <div data-aos="fade-left" class="w-full lg:w-1/2 flex flex-wrap -mx-4">
                        <div class="mb-8 lg:mb-0 w-full  md:w-1/2 px-4">
                            <a href="{{ path('silver') }}" class="block mb-8 shadow-sm bg-cover bg-no-repeat rounded-sm overflow-hidden bg-2">
                                <div class="h-full mx-auto w-full py-6 pl-6 pr-4 pt-32 inset-0 bg-gradient-to-t  from-gray-900">
                                    <h4 class="title-4 text-white">Offre Silver</h4>
                                    <p class="font-raleway text-xs text-white">Achat et revente d'un bien</p>
                                </div>
                            </a>
                            <a href="{{ path('gold') }}" class="block mb-8 shadow-sm bg-cover bg-no-repeat rounded-sm overflow-hidden bg-2">
                                <div class="h-full mx-auto w-full py-6 pl-6 pr-4 pt-32 inset-0 bg-gradient-to-t  from-gray-900">
                                    <h4 class="title-4 text-white">Offre Gold</h4>
                                    <p class="font-raleway text-xs text-white">Achat et Location meublée non professionnelle de&nbsp;2&nbsp;biens</p>
                                </div>
                            </a>

                        </div>
                        <div class="w-full md:w-1/2  lg:mt-20 px-4">
                            <a href="{{ path('platinium') }}" class="block mb-8 shadow-sm bg-cover bg-no-repeat rounded-sm overflow-hidden bg-2">
                                <div class="h-full mx-auto w-full py-6 pl-6 pr-4 pt-32 inset-0 bg-gradient-to-t  from-gray-900">
                                    <h4 class="title-4 text-white">Offre Platinium</h4>
                                    <p class="font-raleway text-xs text-white">Achat d’un immeuble de rapport – entre 3 et 5 lots</p>
                                </div>
                            </a>
                            <a href="{{ path('diamond') }}" class="block mb-8 shadow-sm bg-cover bg-no-repeat rounded-sm overflow-hidden bg-2">
                                <div class="h-full mx-auto w-full py-6 pl-6 pr-4 pt-32 inset-0 bg-gradient-to-t  from-gray-900">
                                    <h4 class="title-4 text-white">Offre Diamond</h4>
                                    <p class="font-raleway text-xs text-white">Achat d’un immeuble de rapport – plus de 6 lots</p>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
