{% extends 'base.html.twig' %}

{# BLOC TITLE #}
{% block title %}{% endblock %}

{# BLOC BODY #}
{% block body %}

    {# HERO #}
    <section class="">
        <div class="bg-gray-50 pt-12 lg:pt-20 pb-20">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap -mx-4">
                    <div class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center">
                        <div class="w-full text-center lg:text-left">
                            <div class="max-w-md mx-auto lg:mx-0">
                                <h2 class="mb-3 text-4xl lg:text-5xl font-bold font-heading">
                                    <span>Build &amp; Launch without</span>
                                    <span class="text-green-600">problems</span>
                                </h2>
                            </div>
                            <div class="max-w-sm mx-auto lg:mx-0">
                                <p class="mb-6 text-gray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.</p>
                                <div>
                                    <a class="inline-block mb-3 lg:mb-0 lg:mr-3 w-full lg:w-auto py-2 px-6 leading-loose bg-green-600 hover:bg-green-700 text-white font-semibold rounded-l-xl rounded-t-xl transition duration-200"
                                       href="#">Get Started</a><a
                                            class="inline-block w-full lg:w-auto py-2 px-6 leading-loose font-semibold bg-white hover:bg-gray-50 rounded-l-xl rounded-t-xl transition duration-200"
                                            href="#">How it works</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 px-4 flex items-center justify-center">
                        <div class="relative" style="z-index: 0;"><img
                                    class="h-128 w-full max-w-lg object-cover rounded-3xl md:rounded-br-none"
                                    src="https://images.unsplash.com/photo-1462826303086-329426d1aef5?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                                    alt=""><img class="hidden md:block absolute"
                                                style="top:-2rem; right: 3rem; z-index: -1;"
                                                src="atis-assets/elements/green-dark-up.svg" alt=""><img
                                    class="hidden md:block absolute" style="bottom:-2rem; right: -2rem; z-index: -1;"
                                    src="atis-assets/elements/wing-green-down.svg" alt=""><img
                                    class="hidden md:block absolute" style="top:3rem; right: -3rem; z-index: -1;"
                                    src="atis-assets/elements/bullets-gray-right.svg" alt=""><img
                                    class="hidden md:block absolute" style="bottom:2.5rem; left: -4.5rem; z-index: -1;"
                                    src="atis-assets/elements/bullets-gray-left.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# FEATURE #}
    <section>
        <div class="skew skew-top mr-for-radius">
            <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
                <polygon fill="currentColor" points="0 0 10 10 0 10"></polygon>
            </svg>
        </div>
        <div class="skew skew-top ml-for-radius">
            <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
                <polygon fill="currentColor" points="0 10 10 0 10 10"></polygon>
            </svg>
        </div>
        <div class="py-20 bg-gray-50 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap items-center -mx-4">
                    <div class="mb-12 lg:mb-0 w-full lg:w-1/2 px-4">
                        <div class="max-w-md">
                            <span class="text-green-600 font-bold">Dolor sit amet consectutar</span>
                            <h2 class="mb-3 text-4xl lg:text-5xl font-bold font-heading">Build &amp; Launch without
                                problems</h2>
                            <p class="mb-6 max-w-sm text-gray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.</p>
                            <ul class="text-gray-500 font-bold">
                                <li class="mb-2 flex items-center">
                                    <svg class="mr-2 w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span>Vestibulum viverra ante non libero</span>
                                </li>
                                <li class="mb-2 flex items-center">
                                    <svg class="mr-2 w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span>Morbi mollis metus pretium ultrices tincidunt</span>
                                </li>
                                <li class="flex items-center">
                                    <svg class="mr-2 w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span>Etiam lectus nunc, commodo et risus in</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2">
                        <div class="mb-4 flex flex-wrap items-end">
                            <div class="mb-4 lg:mb-0 w-full lg:w-2/3 px-3"><img
                                        class="w-full h-32 lg:h-48 object-cover rounded"
                                        src="https://images.unsplash.com/photo-1604701145653-ab3c97c63467?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
                                        alt=""></div>
                            <div class="w-full lg:w-1/3 px-3"><img class="w-full h-32 object-cover rounded"
                                                                   src="https://images.unsplash.com/photo-1521581171443-58a6b508b9ac?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                                                                   alt=""></div>
                        </div>
                        <div class="flex flex-wrap items-start">
                            <div class="mb-4 lg:mb-0 w-full lg:w-1/3 px-3"><img class="w-full h-32 object-cover rounded"
                                                                                src="https://images.unsplash.com/photo-1501706649056-3cb79cccec52?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=701&amp;q=80"
                                                                                alt=""></div>
                            <div class="w-full lg:w-2/3 px-3"><img class="w-full h-32 lg:h-48 object-cover rounded"
                                                                   src="https://images.unsplash.com/photo-1489058535093-8f530d789c3b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                                                                   alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="skew skew-bottom mr-for-radius">
            <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
                <polygon fill="currentColor" points="0 0 10 0 0 10"></polygon>
            </svg>
        </div>
        <div class="skew skew-bottom ml-for-radius">
            <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewBox="0 0 10 10" preserveAspectRatio="none">
                <polygon fill="currentColor" points="0 0 10 0 10 10"></polygon>
            </svg>
        </div>
    </section>

    {#  SCHOOL INVESTMENT  #}
    <section class="py-20">
        <div class="container px-4 mx-auto">
            <div class="pt-20 pb-24 px-8 md:px-16 bg-blue-600 rounded">
                <div class="flex flex-wrap -mx-8">
                    <div class="w-full lg:w-1/2 px-8 flex">
                        <div class="my-auto">
                            <h2 class="text-3xl lg:text-4xl font-semibold text-white">Lorem ipsum dolor sit amet consectetur domor</h2>
                            <p class="mt-2 mb-6 text-white leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
                            <a class="inline-block py-4 px-8 text-xs border bg-white text-blue-600 font-semibold leading-none hover:bg-blue-600 hover:border-white hover:text-white rounded transition duration-300" href="#">Get Started</a>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 px-8 mt-12 lg:mt-0">
                        <div class="relative max-w-sm sm:max-w-md mx-auto">
                            <div class="absolute bg-blue-600" style="top: 22.8%; left: 3%; width: 25.2%; height: 72%;"><img class="object-cover w-full h-full" src="https://images.unsplash.com/photo-1535223289827-42f1e9919769?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=668&amp;q=80" alt=""></div>
                            <div class="absolute bg-blue-600" style="top: 3.8%; left: 37%; width: 25.2%; height: 72%;"><img class="object-cover w-full h-full" src="https://images.unsplash.com/photo-1581090464777-f3220bbe1b8b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=350&amp;q=80" alt=""></div>
                            <div class="absolute bg-blue-600" style="top: 12.8%; left: 70%; width: 25.2%; height: 72%;"><img class="object-cover w-full h-full" src="https://images.unsplash.com/photo-1535223289827-42f1e9919769?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=668&amp;q=80" alt=""></div>
                            <img class="relative mx-auto" src="https://picsum.photos/200/300" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# CARD COACHING #}
    <section class="bg-gradient-to-b from-gray-50 w-full pb-24 ">
        <div class="max-w-4xl px-8 mx-auto">

            <div class="w-full p-6 bg-white shadow-lg  hover:shadow-sm transition duration-800 grid grid-cols-1 md:grid-cols-3 items-center justify-items-center">
                <div class="w-full  max-w-sm md:col-span-1">
                    <a href="">
                        <img
                                class="w-full  shadow-sm mx-auto mb-8 md:mb-0 h-auto"
                                src="https://picsum.photos/200/300" alt=""></a>
                </div>
                <div class="w-full col-span-2 text-left grid justify-self-end justify-items-center">
                    <div class="max-w-sm mx-auto mb-4">
                        <h2 class="subtitle-2">Formation en ligne</h2>
                        <h3 class="title-2">Investir dans un immeuble de rapport</h3>

                        <p class="body-2">Réalisez votre premier achat d’immeuble de rapport. De la recherche du bien à
                            la location ou la vente des lots.</p>
                        <ul class="font-raleway mt-5 uppercase font-bold text-sm">
                            <li class="mb-1 flex items-center text-rose-500">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">7 modules</span>
                            </li>
                            <li class="mb-1 flex items-center text-rose-500">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">22 vidéos</span>
                            </li>
                            <li class="mb-1 flex items-center text-rose-500">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">accès illimité à vie</span>
                            </li>
                            <li class="mb-1 flex items-center text-rose-500">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">Accompagnement personnalisé</span>
                            </li>

                        </ul>
                        <div class="flex mt-2 items-center pb-5 border-b-2 border-gray-100 mb-5">
                        </div>
                        <div class="flex">
                            <span class="title-font font-medium text-2xl text-gray-900">1 497,00 €</span>
                            <button class="flex ml-auto btn-1">
                                Acheter
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# DETAIL COACHING #}
    <section class="bg-gray-50">
        <div class="py-20 my-12 max-w-5xl mx-auto  radius-for-skewed ">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap items-center -mx-4">
                    <div class="mb-12 lg:mb-0 w-full lg:w-1/2 px-4">
                        <div class="max-w-md">
                            <span class="subtitle-2 inline-block">Contenu de la formation</span>
                            <h2 class="title-2 my-6">Une formation adaptée à vos objectifs</h2>

                            <ul class="font-raleway font-base text-black tracking-tight">
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Maîtriser les règles d'urbanisme</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Utiliser les leviers d'optimisation fiscale </span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Gérer son opération en toute autonomie</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Convaincre les banques</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Trouver des prestataires de confiance</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Etablir une étude de marché viable</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Négocier les prix et pérenniser son investissement</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Réduire au maximum les dépenses inutiles</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Trouver efficacement les locataires</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Maximiser son retour sur investissement</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2">
                        <div class="mb-4 flex flex-wrap items-end">
                            <div class=" mb-4 lg:mb-0 w-full lg:w-2/3 px-3">
                                <img class="tagline w-full h-32 lg:h-48 object-cover"
                                     src="https://images.unsplash.com/photo-1604701145653-ab3c97c63467?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
                                     alt=""></div>
                            <div class="w-full lg:w-1/3 px-3">
                                <img class="punchline w-full h-32 object-cover"
                                     src="https://images.unsplash.com/photo-1521581171443-58a6b508b9ac?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                                     alt=""></div>
                        </div>
                        <div class=" flex flex-wrap items-start">
                            <div class="mb-4 lg:mb-0 w-full lg:w-1/3 px-3">
                                <img class="headline w-full h-32 object-cover"
                                     src="https://images.unsplash.com/photo-1501706649056-3cb79cccec52?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=701&amp;q=80"
                                     alt=""></div>
                            <div class="w-full lg:w-2/3 px-3">
                                <img class="highline w-full h-32 lg:h-48 object-cover"
                                     src="https://images.unsplash.com/photo-1489058535093-8f530d789c3b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                                     alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {# BULLET POINTS #}
    <section class="py-20">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap">
                <div class="mb-8 w-full  md:w-1/3 text-center">
                    <span class="mb-6 inline-block p-4">
                        <svg class="w-6 h-6 text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                             fill="currentColor">
                                <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16                                       16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path>
                         </svg>
                     </span>
                    <h3 class="subtitle-1 font-bold">Facilité de paiement</h3>
                    <p class="body-2">Réglez en 1, 3 ou 5 fois</p>
                </div>
                <div class="mb-8 w-full md:w-1/3 text-center">
                    <span class="mb-6 inline-block p-4">
          <svg class="w-6 h-6 text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
          </svg>
        </span>
                    <h3 class="subtitle-1 font-bold">Paiement sécurisé</h3>
                    <p class="body-2">Vos informations sont cryptées</p>
                </div>
                <div class="mb-8 w-full md:w-1/3 text-center">
        <span class="mb-6 inline-block p-4">
          <svg class="w-6 h-6 text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
          </svg>
        </span>
                    <h3 class="subtitle-1 font-bold">Satisfait ou remboursé</h3>
                    <p class="body-2">15 jours pour changer d'avis</p>
                </div>

            </div>
        </div>
    </section>

    {# PROGRAM #}
    <section class="py-20">
        <div class="container mx-auto px-4">
            <div class="max-w-2xl mx-auto">
                <h2 class="mb-16 text-3xl lg:text-4xl font-bold font-heading">Pellentesque finibus commodo nisl, id
                    interdum leo. Maecenas aliquam felis justo, ut sagittis nunc maximus ut.</h2>
                <div class="mb-8 flex justify-center items-start">
                    <div class="mb-4 mr-6 py-4 px-6 rounded text-green-500 bg-green-50 font-bold">1</div>
                    <div>
                        <h3 class="mb-4 text-xl lg:text-2xl font-bold">Lorem ipsum dolor sit amet consectutar</h3>
                        <p class="text-gray-500 leading-loose">Nam mattis, sapien a commodo ultrices, nunc orci
                            tincidunt ante, tempus tempus turpis metus laoreet lacus. Praesent condimentum, arcu ut
                            fringilla tincidunt, augue diam pretium augue, sit amet vestibulum nunc felis vel metus.</p>
                    </div>
                </div>
                <div class="mb-8 flex justify-center items-start">
                    <div class="mb-4 mr-6 py-4 px-6 rounded text-green-500 bg-green-50 font-bold">2</div>
                    <div>
                        <h3 class="mb-4 text-xl lg:text-2xl font-bold">Lorem ipsum dolor sit amet consectutar</h3>
                        <p class="text-gray-500 leading-loose">Nam mattis, sapien a commodo ultrices, nunc orci
                            tincidunt ante, tempus tempus turpis metus laoreet lacus. Praesent condimentum, arcu ut
                            fringilla tincidunt, augue diam pretium augue, sit amet vestibulum nunc felis vel metus.</p>
                    </div>
                </div>
                <div class="flex justify-center items-start">
                    <div class="mb-4 mr-6 py-4 px-6 rounded text-green-500 bg-green-50 font-bold">3</div>
                    <div>
                        <h3 class="mb-4 text-xl lg:text-2xl font-bold">Lorem ipsum dolor sit amet consectutar</h3>
                        <p class="text-gray-500 leading-loose">Nam mattis, sapien a commodo ultrices, nunc orci
                            tincidunt ante, tempus tempus turpis metus laoreet lacus. Praesent condimentum, arcu ut
                            fringilla tincidunt, augue diam pretium augue, sit amet vestibulum nunc felis vel metus.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
