{% extends 'base.html.twig' %}

{# BLOC TITLE #}
{% block title %}{% endblock %}

{# BLOC BODY #}
{% block body %}

    {# HERO #}
    <section>
        <div class="container px-4 py-32 mx-auto ">
            <div class="flex flex-wrap items-center -mx-3">
                <div class="w-full lg:w-1/2 px-3">
                    <div class="py-12">
                        <div class="max-w-lg lg:max-w-md mx-auto lg:mx-0 mb-8 text-center lg:text-left">
                            <h1 class="title-1">
                                Coaching personnalisé
                            </h1>
                            <p class="body-1 mt-12">Constituez-vous un patrimoine conséquent et devenez financièrement indépendant !Je vous accompagne pendant 1 an dans toutes les étapes de vos projets immobiliers. </p>
                        </div>
                        <button class="btn-1">
                            Être contacté
                        </button>
                    </div>
                </div>
                <div class="w-full lg:w-1/2 px-3 mb-12 lg:mb-0">
                    <div class="lg:h-128 flex items-center justify-center"><img class="lg:max-w-lg"
                                                                                src="https://picsum.photos/700/400"
                                                                                alt=""></div>
                </div>
            </div>
        </div>
        <div class="hidden navbar-menu relative z-50">
            <div class="navbar-backdrop fixed inset-0 bg-blueGray-800 opacity-25"></div>
        </div>
    </section>

    {#    DESCRIPTION #}
    <section class="py-20">
        <div class="container px-4 mx-auto">
            <div class="pt-20 pb-24 px-8 md:px-16 bg-pink-600 rounded">
                <div class="flex flex-wrap -mx-8">
                    <div class="w-full lg:w-1/2 px-8 flex">
                        <div class="my-auto text-white">
                            <span class="subtitle-2 inline-block text-white">Accompagnement sur-mesure</span>
                            <h2 class="title-2 my-6 text-gray-100">1 an pour devenir investisseur</h2>

                            <p class="font-raleway font-base text-white tracking-tight">
                                Vous avez toujours souhaité savoir comment vous constituer un patrimoine durable qui vous rapporte de l'argent immédiatement ?<br>
                                La fiscalité, les règles d'urbanisme, la législation sur le foncier, l'accès aux financements, le choix des prestataires, les négociations avec les corps de métiers... Ayez toutes les armes en main pour maitriser vos investissements immobiliers et réaliser un maximum de plus-value
                            </p>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 px-8 mt-12 lg:mt-0">
                        <div class="relative max-w-sm sm:max-w-md mx-auto">
                            <div class="absolute bg-blue-600" style="top: 22.8%; left: 3%; width: 25.2%; height: 72%;"><img class="object-cover w-full h-full" src="https://images.unsplash.com/photo-1535223289827-42f1e9919769?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=668&amp;q=80" alt=""></div>
                            <div class="absolute bg-blue-600" style="top: 3.8%; left: 37%; width: 25.2%; height: 72%;"><img class="object-cover w-full h-full" src="https://images.unsplash.com/photo-1581090464777-f3220bbe1b8b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=350&amp;q=80" alt=""></div>
                            <div class="absolute bg-blue-600" style="top: 12.8%; left: 70%; width: 25.2%; height: 72%;"><img class="object-cover w-full h-full" src="https://images.unsplash.com/photo-1535223289827-42f1e9919769?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=668&amp;q=80" alt=""></div>
                            <img class="relative mx-auto" src="https://picsum.photos/200/300" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    {# INTRODUCTION #}
    <section class="bg-gray-50 mt-20 w-full pb-24">

        <div class="py-20 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-2xl mx-auto text-center">
                    <h2 class="title-1">Rejoignez "The school Investment"</h2>
                    <p class="body-2 m-6">The School investment a été lancée début 2020 et accompagne plus de 20 investisseurs ambitieux dans leur opérations immobilières. Rejoignez The school investment, accédez à l’ensemble des formations et échangez directement avec des investisseurs professionnels qui vous aident à vous constituer un patrimoine.

                        Prenez en main vos investissements immobiliers et maîtrisez l’ensemble des techniques pour vous constituer un patrimoine rapidement et sereinement. Devenez financièrement indépendant.
                    </p>
                </div>
            </div>
        </div>
    </section>


    {# CARD COACHING #}
    <section class="bg-gradient-to-b from-gray-50 w-full pb-24 ">
        <div class="max-w-4xl px-8 mx-auto">

            <div class="w-full p-6 bg-white shadow-lg  hover:shadow-sm transition duration-800 grid grid-cols-1 md:grid-cols-3 items-center justify-items-center">
                <div class="w-full  max-w-sm md:col-span-1">
                    <a href="">
                        <img
                                class="w-full  shadow-sm mx-auto mb-8 md:mb-0 h-auto"
                                src="https://picsum.photos/200/300" alt=""></a>
                </div>
                <div class="w-full col-span-2 text-left grid justify-self-end justify-items-center">
                    <div class="max-w-sm mx-auto mb-4">
                        <h2 class="subtitle-2">Coaching personnalisé</h2>
                        <h3 class="title-2 py-5">The School Investment</h3>

                        <p class="body-2 mt-5">Réalisez votre premier achat d’immeuble de rapport. De la recherche du bien à
                            la location ou la vente des lots.</p>
                        <ul class="font-raleway mt-5 uppercase font-bold text-sm">
                            <li class="mb-1 flex items-center text-rose-500">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">1 an d'accompagnement sur-mesure</span>
                            </li>
                            <li class="mb-1 flex items-center text-rose-500">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">Accès illimité à vie aux formations</span>
                            </li>
                            <li class="mb-1 flex items-center text-rose-500">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">Des rencontres toute l'année</span>
                            </li>
                            <li class="mb-1 flex items-center text-rose-500">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">5 week-ends de séminaires privés</span>
                            </li>
                            <li class="mb-1 flex items-center text-rose-500">
                                <svg class="mr-1.5 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"/>
                                </svg>
                                <span class="">Bilan personnalisé</span>
                            </li>

                        </ul>
                        <div class="flex mt-2 items-center pb-5 border-b-2 border-gray-100 mb-5">
                        </div>
                        <div class="flex">
                            <span class="title-font font-medium text-2xl text-gray-900">3 100,00 €</span>
                            <button class="flex ml-auto btn-1">
                                Je m'inscris
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# DETAIL COACHING #}
    <section class="bg-gray-50">
        <div class="py-20 my-12 max-w-5xl mx-auto  radius-for-skewed ">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap items-center -mx-4">
                    <div class="mb-12 lg:mb-0 w-full lg:w-1/2 px-4">
                        <div class="max-w-md">
                            <span class="subtitle-2 inline-block">Contenu de la formation</span>
                            <h2 class="title-2 my-6">Une formation adaptée à vos objectifs</h2>

                            <ul class="font-raleway font-base text-gray-900 tracking-tight">
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Maîtriser les règles d'urbanisme</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Utiliser les leviers d'optimisation fiscale </span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Gérer son opération en toute autonomie</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Convaincre les banques</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Trouver des prestataires de confiance</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Etablir une étude de marché viable</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Négocier les prix et pérenniser son investissement</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Réduire au maximum les dépenses inutiles</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Trouver efficacement les locataires</span>
                                </li>
                                <li class="mb-3 flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                         viewBox="0 0 140 140" width="14" height="14">
                                        <g transform="matrix(5.833333333333333,0,0,5.833333333333333,0,0)">
                                            <path d="M23.5 0.499L7 23.499 0.5 16.999" fill="none" stroke="#000000"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                    </svg>
                                    <span class="ml-4">Maximiser son retour sur investissement</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2">
                        <div class="mb-4 flex flex-wrap items-end">
                            <div class=" mb-4 lg:mb-0 w-full lg:w-2/3 px-3">
                                <img class="tagline w-full h-32 lg:h-48 object-cover"
                                     src="https://images.unsplash.com/photo-1604701145653-ab3c97c63467?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
                                     alt=""></div>
                            <div class="w-full lg:w-1/3 px-3">
                                <img class="punchline w-full h-32 object-cover"
                                     src="https://images.unsplash.com/photo-1521581171443-58a6b508b9ac?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                                     alt=""></div>
                        </div>
                        <div class=" flex flex-wrap items-start">
                            <div class="mb-4 lg:mb-0 w-full lg:w-1/3 px-3">
                                <img class="headline w-full h-32 object-cover"
                                     src="https://images.unsplash.com/photo-1501706649056-3cb79cccec52?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=701&amp;q=80"
                                     alt=""></div>
                            <div class="w-full lg:w-2/3 px-3">
                                <img class="highline w-full h-32 lg:h-48 object-cover"
                                     src="https://images.unsplash.com/photo-1489058535093-8f530d789c3b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                                     alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {# BULLET POINTS #}
    <section class="py-20">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap">
                <div class="mb-8 w-full  md:w-1/3 text-center">
                    <span class="mb-6 inline-block p-4">
                        <svg class="w-6 h-6 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                             fill="currentColor">
                                <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16                                       16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path>
                         </svg>
                     </span>
                    <h3 class="subtitle-1 font-bold">Facilité de paiement</h3>
                    <p class="body-2">Réglez en 1, 3 ou 5 fois</p>
                </div>
                <div class="mb-8 w-full md:w-1/3 text-center">
                    <span class="mb-6 inline-block p-4">
          <svg class="w-6 h-6 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
          </svg>
        </span>
                    <h3 class="subtitle-1 font-bold">Paiement sécurisé</h3>
                    <p class="body-2">Vos informations sont cryptées</p>
                </div>
                <div class="mb-8 w-full md:w-1/3 text-center">
        <span class="mb-6 inline-block p-4">
          <svg class="w-6 h-6 text-gray-900" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
          </svg>
        </span>
                    <h3 class="subtitle-1 font-bold">Satisfait ou remboursé</h3>
                    <p class="body-2">15 jours pour changer d'avis</p>
                </div>

            </div>
        </div>
    </section>

    {# PROGRAM #}
    {# LES SESSIONS #}
    <section class="max-w-5xl mx-auto">

        <div class="py-20 radius-for-skewed">
            <div class="container mx-auto px-4">
                <div class="max-w-xl mx-auto text-center">
                    <span class="subtitle-2 inline-block mb-5">Contenu du coaching</span>
                    <h2 class="title-2">The School Investment en détail</h2>
                </div>
            </div>
        </div>


        <div class="py-20">
            <div class="container mx-auto px-4">
                <div class="mb-8 flex flex-wrap  shadow overflow-hidden items-center">
                    <div class="w-full lg:w-1/2 ">
                        <img class="object-cover"
                             src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80"
                             alt="">
                    </div>
                    <div class="w-full lg:w-1/2 py-6 lg:pt-10 px-6  bg-white">

                        <h3 class="mb-4 text-xl font-semibold font-raleway">5 Formations en ligne</h3>
                        <p class="mb-4 text-gray-400 leading-loose font-raleway">Formez-vous à votre rythme grâce à un accès illimité à 5 formations en ligne. Maitrisez les règles d'urbanisme, trouvez le bon bien, réalisez des opérations rentables, actionnez les bons leviers fiscaux, négociez avec la banque, gérez l'ensemble des travaux, entourez vous des bonnes personnes... Grâce à ces 5 formations vous deviendrez un investisseur hors pair.</p>

                    </div>
                </div>
                <div class="mb-8 flex flex-wrap  items-center shadow overflow-hidden">
                    <div class="w-full lg:w-1/2 py-6 lg:pt-10 px-6  bg-white order-1 lg:order-0">
                        <h3 class="mb-4 text-xl font-semibold font-raleway">Un accompagnement sur-mesure</h3>
                        <p class="mb-4 text-gray-400 leading-loose font-raleway">En visio-conférence ou en direct, nous nous rencontrons avec l’ensemble des élèves de The School Investment pour échanger à propos de vos projets. Je réponds à toutes vos questions et vous donne des astuces inédites.</p>
                    </div>
                    <div class="w-full lg:w-1/2  order-0 lg:order-1">
                        <img class="object-cover"
                             src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80"
                             alt="">
                    </div>
                </div>
                <div class="mb-8 flex flex-wrap  shadow overflow-hidden items-center">
                    <div class="w-full lg:w-1/2 ">
                        <img class="object-cover"
                             src="https://images.unsplash.com/photo-1559827291-72ee739d0d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80"
                             alt="">
                    </div>
                    <div class="w-full lg:w-1/2 py-6 lg:pt-10 px-6  bg-white">

                        <h3 class="mb-4 text-xl font-semibold font-raleway">Des séminaires privés</h3>
                        <p class="mb-4 text-gray-400 leading-loose font-raleway">On se retrouve entre investisseurs dans des lieux atypiques : Golf, station de ski, hotels de luxe pour faire le point sur vos projets et approfondir des techniques d’investissement et d’optimisation</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
