@import "tailwindcss/base";
@import "tailwindcss/components";

@layer base {

    .title-1 {
        @apply text-gray-900 font-playfair text-5xl lg:text-6xl
    }
    .title-2 {
        @apply text-gray-900 font-playfair text-3xl lg:text-4xl
    }
    .title-3 {
        @apply text-gray-800 font-raleway uppercase tracking-wide text-xl lg:text-2xl font-bold
    }
    .title-4 {
        @apply text-gray-900 font-playfair text-2xl
    }
    .body-1{
        @apply font-raleway text-gray-700 text-lg
    }
    .body-2{
        @apply font-raleway text-gray-600 text-base
    }
    .body-3{
        @apply font-raleway text-gray-600 text-base
    }
    .subtitle-1{
        @apply font-raleway uppercase tracking-widest text-gray-700 text-base lg:text-lg
    }
    .subtitle-2{
        @apply font-raleway uppercase tracking-widest font-bold text-gray-700 text-sm lg:text-base
    }
    .subtitle-3{
        @apply font-raleway uppercase tracking-widest font-bold text-gray-700 text-xs
    }
    .btn-1 {
        @apply uppercase font-raleway text-xs tracking-wide p-3 rounded text-white font-extrabold tracking-widest transition ease-in-out duration-150 p-6
    }
    .max-h-0 {
        max-height: 0;
    }
    .quote-1 {
        @apply text-sm font-playfair text-gray-500
    }

    .bg-2 {
        background-image: url(/public/images/main/immeuble.webp);
    }

    [x-cloak] {
        display: none !important;
    }

    .swup-progress-bar {
        height: 4px;
        background-color: blue;
    }
}


@import "tailwindcss/utilities";
