
@tailwind base;

/* FONTS */
@font-face {
    font-family: 'Raleway', sans-serif;;
    src:  url('../fonts/Raleway-VariableFont_wght.ttf') format('ttf');
}

@font-face {
    font-family: 'Raleway', sans-serif;;
    src:  url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('ttf');
}

@tailwind components;




@layer base {

    .title-1 {
        @apply font-playfair text-5xl lg:text-6xl
    }
    .title-2 {
        @apply font-playfair text-3xl lg:text-4xl
    }
    .title-3 {
        @apply text-gray-800 font-raleway uppercase tracking-wide text-xl lg:text-2xl font-bold
    }
    .title-4 {
        @apply font-playfair text-2xl
    }
    .body-1{
        @apply font-raleway text-lg
    }
    .body-2{
        @apply font-raleway text-gray-600 text-base
    }
    .body-3{
        @apply font-raleway text-gray-600 text-base
    }
    .subtitle-1{
        @apply font-raleway uppercase tracking-widest text-base lg:text-lg
    }
    .subtitle-2{
        @apply font-raleway uppercase tracking-widest font-bold text-sm lg:text-base
    }
    .subtitle-3{
        @apply font-raleway uppercase tracking-widest font-bold text-xs
    }
    .btn-1 {
        @apply uppercase font-raleway text-xs tracking-wide rounded font-extrabold tracking-widest transition ease-in-out duration-150 px-6 py-3
    }
    .max-h-0 {
        max-height: 0;
    }
    .quote-1 {
        @apply text-sm font-playfair text-gray-500
    }
    .bg-1 {
        background-image: url(/assets/media/images/background/XL/1.webp);
    }
    .bg-2 {
        background-image: url(/assets/media/images/background/XL/2.webp);
    }
    .bg-3 {
        background-image: url(/assets/media/images/background/XL/3.webp);
    }
    .bg-4 {
        background-image: url(/assets/media/images/background/XL/4.webp);
    }
    .bg-6 {
        background-image: url(/assets/media/images/background/XL/6.webp);
    }
    .bg-7 {
        background-image: url(/assets/media/images/background/XL/7.webp);
    }
    .bg-8 {
        background-image: url(/assets/media/images/background/XL/8.webp);
    }
    .bg-9 {
        background-image: url(/assets/media/images/background/XL/9.webp);
    }
    .bg-10 {
        background-image: url(/assets/media/images/background/XL/10.webp);
    }
    .bg-11 {
        background-image: url(/assets/media/images/background/XL/11.webp);
    }
    .bg-12 {
        background-image: url(/assets/media/images/background/XL/12.webp);
    }
    .bg-13 {
         background-image: url(/assets/media/images/background/XL/13.webp);
     }
    .bg-14 {
        background-image: url(/assets/media/images/background/XL/14.webp);
    }
    .bg-silver {
        background-image: url(/assets/media/images/background/XL/silver.webp);
    }
    .bg-gold {
        background-image: url(/assets/media/images/background/XL/gold.webp);
    }
    .bg-platinium {
        background-image: url(/assets/media/images/background/XL/platinium.webp);
    }
    .bg-diamond {
        background-image: url(/assets/media/images/background/XL/diamond.webp);
    }


    .bg-formation-1 {
        background-image: url(/assets/media/images/formations/1.webp);
    }
    .bg-formation-2 {
        background-image: url(/assets/media/images/formations/2.webp);
    }
    .bg-formation-3 {
        background-image: url(/assets/media/images/formations/3.webp);
    }
    .bg-formation-4 {
        background-image: url(/assets/media/images/formations/4.webp);
    }
    .bg-formation-5 {
        background-image: url(/assets/media/images/formations/5.webp);
    }
    .bg-formation-6 {
        background-image: url(/assets/media/images/formations/6.webp);
    }
    .bg-formation-7 {
        background-image: url(/assets/media/images/formations/7.webp);
    }
    .bg-formation-8 {
        background-image: url(/assets/media/images/formations/8.webp);
    }
    .bg-formation-9 {
        background-image: url(/assets/media/images/formations/9.webp);
    }
    .bg-formation-10 {
        background-image: url(/assets/media/images/formations/10.webp);
    }
    .bg-formation-11 {
        background-image: url(/assets/media/images/formations/11.webp);
    }
    .bg-formation-12 {
        background-image: url(/assets/media/images/formations/12.webp);
    }
    .bg-formation-13 {
        background-image: url(/assets/media/images/formations/13.webp);
    }
    .bg-formation-14 {
        background-image: url(/assets/media/images/formations/14.webp);
    }
    .bg-formation-15 {
        background-image: url(/assets/media/images/formations/15.webp);
    }
    .bg-formation-16 {
        background-image: url(/assets/media/images/formations/16.webp);
    }
    .bg-formation-17 {
        background-image: url(/assets/media/images/formations/17.webp);
    }
    .bg-formation-18 {
        background-image: url(/assets/media/images/formations/18.webp);
    }
    .bg-formation-19 {
        background-image: url(/assets/media/images/formations/19.webp);
    }

    .bg-formation-pack-1 {
        background-image: url(/assets/media/images/formations/pack/1.webp);
    }
    .bg-formation-pack-2 {
        background-image: url(/assets/media/images/formations/pack/2.webp);
    }
    .bg-formation-pack-3 {
        background-image: url(/assets/media/images/formations/pack/3.webp);
    }
    .bg-formation-pack-4 {
        background-image: url(/assets/media/images/formations/pack/4.webp);
    }
    .bg-formation-pack-5 {
        background-image: url(/assets/media/images/formations/pack/5.webp);
    }



    .bg-silver-small {
        background-image: url(/assets/media/images/main/silver.webp);
    }

    .bg-gold-small {
        background-image: url(/assets/media/images/main/gold.webp);
    }

    .bg-platinium-small {
        background-image: url(/assets/media/images/main/platinium.webp);
    }
    .bg-diamond-small {
        background-image: url(/assets/media/images/main/diamond.webp);
    }

    [x-cloak] {
        display: none !important;
    }
}


@tailwind utilities;


@import "~plyr/dist/plyr.css";
@import '~aos/dist/aos.css';
@import "~swiper/swiper-bundle";











