<!DOCTYPE html>
<html lang="fr">
{# HEAD #}
<head>
    {# META #}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block meta %}
    {% endblock %}

    {# BASE TITLE #}
    <title>
        {% block title %}Michael Ballot Formation{% endblock %}
    </title>

    {# BLOC STYLESHEET #}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/plyr.css" />
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap"
          rel="stylesheet">
</head>

{# BODY #}
<body data-controller="symfony--ux-swup--swup" data-containers="#swup #nav">

{# NAVBAR #}
<nav id="nav">
    {% include 'shared/_navbar.html.twig' %}
</nav>

<div id="swup">
    {# FLASHES #}
    {% for rubrique, messages in app.flashes %}
    {% endfor %}

    {# CONTAINER #}
{#    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">#}

        {# BLOC BODY #}
        {% block body %}
        {% endblock %}
{#    </div>#}


    {# COOKIES #}
{#    {% include 'shared/_cookies.html.twig' %}#}
</div>


{# FOOTER #}
{% include 'shared/_footer.html.twig' %}

{# BLOC JAVASCRIPT #}
{% block javascripts %}
    <script src="{{ asset('js/plyr.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // This is the bare minimum JavaScript. You can opt to pass no arguments to setup.
            const player = new Plyr('#player');

            // Expose
            window.player = player;

            // Bind event listener
            function on(selector, type, callback) {
                document.querySelector(selector).addEventListener(type, callback, false);
            }

            // Pause
            on('.js-pause', 'click', () => {
                player.pause();
            });
        });
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>

