<!DOCTYPE html>
<html lang="fr">
{# HEAD #}
<head>
    {# META #}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{{ asset ('build/images/logo/favicon.png') }}">


    {# BASE TITLE #}
    <title>
        {% block title %}Michael Ballot Formation{% endblock %}
    </title>

    {% block meta %}
    {% endblock %}

    {# BLOC STYLESHEET #}

    {% block stylesheets %}
        {% include 'shared/_cookies.html.twig' %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}


    {# BLOC JAVASCRIPT #}
    {% block javascripts %}
        {% include 'shared/_cookies.html.twig' %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}


</head>

{# BODY #}
<body data-controller="myswup symfony--ux-swup--swup" data-containers="#swup" data-theme="slide"
      data-cache="data-cache" class="bg-gray-50 overflow-x-hidden">

{# NAVBAR #}
<nav>
    {% include 'shared/_navbar.html.twig' %}
</nav>

<div id="swup" class="relative transform-none">
    {# FLASHES #}
    {% include 'shared/_flashes.html.twig' %}

    {# CONTAINER #}
    {# <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8"> #}

    {# BLOC BODY #}
    {% block body %}
    {% endblock %}
    {# </div> #}


    {# COOKIES #}
    {% include 'shared/_cookies.html.twig' %}
</div>



    {# FOOTER #}
    <footer class="bg-white">
        {% include 'shared/_footer.html.twig' %}
    </footer>


</body>
</html>

