<!DOCTYPE html>
<html lang="fr">
{# HEAD #}
<head>
    {# COOKIES #}
    <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = {
            "consentOnContinuedBrowsing": false,
            "whitelabel": false,
            "lang": "fr",
            "siteId": 2167795,
            "cookiePolicyId": 22659429,
            "enableCMP": true,
            "askConsentIfCMPNotFound": false,
            "cookiePolicyUrl": "https://www.michaelballot.fr/mentions-legales",
            "banner": {
                "brandBackgroundColor": "none",
                "brandTextColor": "black",
                "acceptButtonDisplay": true,
                "customizeButtonDisplay": true,
                "acceptButtonColor": "#111827",
                "acceptButtonCaptionColor": "white",
                "customizeButtonColor": "#DADADA",
                "customizeButtonCaptionColor": "#4D4D4D",
                "position": "float-bottom-left",
                "backgroundOverlay": true,
                "textColor": "black",
                "backgroundColor": "white"
            }
        };
    </script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/tcf/stub-v2.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>

    {# META #}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{{ asset ('build/images/logo/favicon.png') }}">


    {# BASE TITLE #}
    <title>
        {% block title %}Michael Ballot Formation{% endblock %}
    </title>

    {% block meta %}
    {% endblock %}

    {# BLOC STYLESHEET #}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}


    {# BLOC JAVASCRIPT #}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}


</head>

{# BODY #}
<body data-controller="myswup symfony--ux-swup--swup" data-containers="#swup" data-theme="slide"
      data-cache="data-cache" class="bg-gray-50 overflow-x-hidden">

{# NAVBAR #}
<nav>
    {% include 'shared/_navbar.html.twig' %}
</nav>

<div id="swup" class="relative transform-none">
    {# FLASHES #}
    {% include 'shared/_flashes.html.twig' %}

    {# BLOC BODY #}
    {% block body %}
    {% endblock %}

    {# COOKIES #}
    {% include 'shared/_cookies.html.twig' %}
</div>

{# FOOTER #}
<footer class="bg-white">
    {% include 'shared/_footer.html.twig' %}
</footer>

</body>
</html>

