<!DOCTYPE html>
<html lang="fr">
{# HEAD #}
<head>
    {# META #}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}
    {% endblock %}

    {# BASE TITLE #}
    <title>
        {% block title %}Michael Ballot Formation{% endblock %}
    </title>

    {# BLOC STYLESHEET #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

{# BODY #}
<body data-controller="symfony--ux-swup--swup" data-containers="#swup #nav">

{# NAVBAR #}
<nav id="nav">
    {% include 'shared/_navbar.html.twig' %}
</nav>

<div id="swup">
    {# FLASHES #}
    {% for rubrique, messages in app.flashes %}
    {% endfor %}

    {# BLOC BODY #}
    {% block body %}
    {% endblock %}

    {# COOKIES #}
    {% include 'shared/_cookies.html.twig' %}
</div>


{# FOOTER #}
{% include 'shared/_footer.html.twig' %}

{# BLOC JAVASCRIPT #}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>

