{# CONTACT #}
<section class="bg-cover bg-no-repeat bg-fixed py-20 bg-6 ">

  <div  class="container mx-auto px-4">
    <div data-aos="fade-up"  class="max-w-2xl mx-auto text-center text-gray-900 bg-white rounded-sm bg-opacity-80 p-8">
      <span class="subtitle-2 block my-12">échange gratuit</span>
      <h2 class="title-2 mb-4">Échangeons à propos de votre&nbsp;projet</h2>
      <p class="body-2 m-6">Vous souhaitez en savoir plus sur la formation ou tout simplement bien définir vos
        objectif en termes d’investissement ?
        Echangeons directement par téléphone
      </p>

      <!-- Début de widget de lien Calendly -->
      <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
      <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
      <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/contact-3525/etre-recontacte?text_color=111827&primary_color=db2777'});return false;" class="mt-12 block">
              <button class="btn-1 text-white bg-gray-900 hover:bg-gray-800">Me contacter</button>
            </a>
      <!-- Fin de widget de lien Calendly -->


    </div>
  </div>

</section>

