{% extends 'base.html.twig' %}

{# BLOC TITLE #}
{% block title %}
    <meta name="description" content="">
    <meta name="title" content="">

    <meta property="og:title" content="Formez-vous, construisez votre maison, devenez indépendant">
    <meta property="og:site_name" content="Michael Ballot">
    <meta property="og:url" content="https://michaelballot.fr">
    <meta property="og:description" content="">
    <meta property="og:type" content="product.item">
    <meta property="og:image" content="{{ asset('build/images/og/1.jpg') }}">

{% endblock %}

{# BLOC BODY #}
{% block body %}

    <section class=" py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24 mt-24">
        <div class="relative max-w-xl mx-auto">

            <div class="text-center">
                <h2 class="text-gray-900 title-1">
                    Commencez à batir votre projet
                </h2>
                <p class="mt-4 body-1 text-gray-500">
                    T&eacute;l&eacute;chargez le guide et d&eacute;couvrez les premi&egrave;res astuces pour commencer
                    &agrave; esquisser votre projet en toute autonomie&nbsp;!
                </p>
                <div class="my-12 flex-wrap">
                    <a href="{{ asset('files/guide-construction.pdf') }}" class="m-3 block" download>
                        <button class="btn-1 bg-pink-600 text-white hover:bg-gray-900">T&eacute;l&eacute;charger le guide
                        </button>
                    </a>
                    <a class="m-3block"  href="{{  path('maison') }}">
                        <button class="btn-1 bg-gray-900 hover:bg-pink-600 text-white">Voir l'int&eacute;gralit&eacute; de la formation</button>
                    </a>
                </div>
                <span class="body-3 text-gray-400">Il se peut que vous ne puissiez pas t&eacute;l&eacute;charger le document depuis certains explorateurs
                    (internet explorer) ou t&eacute;l&eacute;phones mobiles (IOS). Veuillez dans ce cas r&eacute;essayer en
                    utilisant un autre appareil ou navigateur web</span>
            </div>
        </div>
    </section>


{% endblock %}
