{% extends 'base.html.twig' %}

{# BLOC TITLE #}
{% block title %}{% endblock %}

{# BLOC BODY #}
{% block body %}

    Date d’envoi de votre message : Aujourd’hui, à 15:18

    Guillaume, date d’envoi : Aujourd’hui, à 15:56
    <section class="thankyoupage" data-aos="fade-up" data-aos-duration="2000">
        <div><h1>Commence &agrave; b&acirc;tir ton projet</h1>
            <h2> T&eacute;l&eacute;charge mon guide et d&eacute;couvre les premi&egrave;res astuces pour commencer
                &agrave; esquisser ton projet en toute autonomie&nbsp;!</h2><a
                    href="/CSS/Document/guide-construction.pdf" download>
                <button class="main-buttons">T&eacute;l&eacute;charger le guide <img class="button-icon"
                                                                                     src="CSS/Image/Icones/construire.png">
                </button>
            </a><a href=La-formation.html>
                <button>Voir l'int&eacute;gralit&eacute; de la formation</button>
            </a>
            <p>Il se peut que vous ne puissiez pas t&eacute;l&eacute;charger le document depuis certains explorateurs
                (internet explorer) ou t&eacute;l&eacute;phones mobiles (IOS). Veuillez dans ce cas r&eacute;essayer en
                utilisant un autre appareil ou navigateur web</p>
            <div class="separator3" data-aos="fade-left" data-aos-duration="2000"></div>
            <h4>Consultez tes mails afin de recevoir d&egrave;s demain une nouvelle astuce de professionnel pour lancer
                ta construction seul.e</h4></div>
    </section>
{% endblock %}
